@model ParkingSpot
@{
    var parking = ViewData["parking"] as Parking;
}

<h2>Редактирование парковочного места </h2>

<form asp-action="EditParkingSpot" enctype="multipart/form-data" method="post">

    <div>
        <input type="hidden" asp-for="ParkingSpotId"/>
        <span asp-validation-for="ParkingSpotId" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Number">Номер парковочного места</label>
        <input asp-for="Number" class="form-control" />
        <span asp-validation-for="Number" class="text-danger"></span>
    </div>

    <div>
        <select asp-for="Status" class="form-control">
            <option value="Status.ToString()" selected>@Model.Status.ToString()</option>

            @foreach (var status in Html.GetEnumSelectList<ParkingSpotStatus>())
            {
                if (status.Text != Model.Status.ToString())
                {
                    <option value="@status.Text">@status.Text</option>
                }
            }
        </select>
    </div>

    <div>
        <label asp-for="Information">Информация</label>
        <input asp-for="Information" class="form-control" />
        <span asp-validation-for="Information" class="text-danger"></span>
    </div>

    <div>
        <input type="hidden" asp-for="ParkingId" value="@parking.ParkingId" />
        <span asp-validation-for="ParkingId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
</form>