@model ParkingSpot
@{
    var parking = ViewData["parking"] as Parking;
}

<h2>Редактирование парковочного места</h2>

<form asp-action="EditParkingSpot" enctype="multipart/form-data" method="post">
    <input type="hidden" asp-for="ParkingSpotId" />

    <div>
        <label asp-for="Number">Номер парковочного места</label>
        <input asp-for="Number" class="form-control" />
        <span asp-validation-for="Number" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Status">Статус</label>
        <input asp-for="Status" class="form-control" />
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Information">Информация</label>
        <input asp-for="Information" class="form-control" />
        <span asp-validation-for="Information" class="text-danger"></span>
    </div>

    <div>
        <input type="hidden" asp-for="ParkingId" value="@parking.Address" />
        <span asp-validation-for="ParkingId" class="text-danger"></span>
    </div>

    <button type="submit">Сохранить изменения</button>
</form>