@{
    @model Parking;
    var parkings = ViewData["parkings"] as Parking[];


}

<h2>Парковки</h2>
@if (TempData["Message"] != null)
{
    <div class="alert alert-info">
        @TempData["Message"]
    </div>
}

<h3>Создать новую парковку</h3>
<form asp-action="CreateParking" enctype="multipart/form-data" method="post">
    <div>
        <label asp-for="Address">Адрес</label>
        <input asp-for="Address" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Создать парковку</button>
</form>

@if (parkings != null && parkings.Length > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Адрес</th>
                <th>Всего мест</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var parking in parkings)
            {
                <tr>
                    <td>@parking.Address</td>
                    <td>@parking.ParkingSpots.Count</td>
                    <td>
                        <form method="get" action="/Admin/GetParkingSpot">
                            <input type="hidden" name="id" value="@parking.ParkingId" />
                            <button type="submit" class="btn btn-primary">Просмотреть места</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2>Парковок нет</h2>

}




